.AppRouterConnect-root-1 {
  display: flex;
}
html,
body {
  max-width: 100%;
  padding-right: 0px !important;
}

input#input {
  text-transform: capitalize !important;
}
.AppRouterConnect-appBarSpacer-7 {
  min-height: 0px !important;
}
.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0), 0px 1px 10px 0px rgba(0, 0, 0, 0) !important;
}
.MuiContainer-root.AppRouterConnect-container-5 {
  background: white !important;
  padding-top: 17px;
  min-height: 424px !important;
}
.AppRouterConnect-content-4 {
  margin-top: 30px;
}
.MuiPaper-root.MuiPaper-elevation1.msg-box-align.MuiPaper-rounded {
  box-shadow: none !important;
}
button.MuiButtonBase-root.MuiIconButton-root.Rating-iconButton-563.Rating-readOnly-566 {
  padding: 0px 5px !important;
  margin-top: -4px;
}
button.MuiButtonBase-root.MuiIconButton-root.Rating-iconButton-399.Rating-readOnly-402 {
  padding: 0px 5px !important;
  margin-top: -4px;
}
.MuiContainer-root.MuiContainer-maxWidthLg {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
button.MuiButtonBase-root.MuiIconButton-root.Rating-iconButton-470.Rating-readOnly-473 {
  padding: 0px 5px !important;
  margin-top: -5px;
}
button.MuiButtonBase-root.MuiIconButton-root {
  margin-top: 0px !important;
}

/* End */

header.MuiPaper-root.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary {
  /* background-color: white; */
  color: black;
  position: fixed;
}
button.MuiButtonBase-root.MuiIconButton-root.Rating-iconButton-319.Rating-readOnly-322 {
  padding: 3px !important;
}

.MuiContainer-root.contractor-list.MuiContainer-maxWidthLg {
  padding: 6%;
  padding-top: 2%;
  padding-bottom: 4%;
}

p.red.font {
  font-size: 16px;
  font-weight: 500;
}

a.underlineNone {
  text-decoration: none;
}
ul.myList {
  padding-left: 18px;
}
span.MuiIconButton-label {
  width: 24px;
  height: 24px;
  border-radius: 50% !important;
}
.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 40px;
  position: relative !important;
}
input.MuiInputBase-input.makeStyles-inputInput-124 {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
  text-transform: capitalize !important;
}

p.MuiTypography-root.MuiTypography-body1 {
  padding: 10px 0px 0px 5px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.btn.default.MuiButton-colorInherit {
  background-color: #eee;
}
input.MuiInputBase-input.makeStyles-inputInput-5 {
  border-radius: 4px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButtonGroup-grouped.MuiButtonGroup-groupedContained.MuiButtonGroup-groupedContainedPrimary.MuiButton-containedPrimary.MuiButton-containedSizeSmall.MuiButton-sizeSmall {
  padding: 14px 30px;
  background-color: white !important;
  color: black;
  border-radius: none;
  width: 50%;
  margin-top: 1px;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButtonGroup-grouped.MuiButtonGroup-groupedContained.MuiButtonGroup-groupedContainedPrimary.MuiButton-containedPrimary {
  background-color: #459a0b;
  color: white;
  width: 50%;
  font-weight: 600;
  text-transform: capitalize;
}
.MuiGrid-root.text-center.MuiGrid-item.MuiGrid-grid-xs-6 {
  margin-top: 13%;
  margin-left: 13%;
}
li.react-multi-carousel-item.react-multi-carousel-item--active.carousel-item-padding-40-px {
  margin-bottom: 2px;
  /* width: 184px !important; */
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit {
  font-size: 20px !important;
  margin-top: 1px;
}
/* ul.MuiList-root.MuiList-padding {
  padding-left: 8px;
} */
ul.MuiList-root.service-modal-list.MuiList-padding {
  padding: 0px !important;
}
.MuiGrid-root.text-center.bg-image.MuiGrid-item.MuiGrid-grid-xs-12 {
  background-image: url("../images/homepagetop.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 400px;
  margin-left: auto;
  /* margin-bottom: 8% !important; ikram */
  margin-right: auto;
}

p.MuiTypography-root.signin.MuiTypography-body1 {
  padding-top: 3px !important;
  margin-left: 5px;
}

svg.MuiSvgIcon-root.person {
  font-size: 22px !important;
}

.MuiInputBase-root.makeStyles-inputRoot-4 {
  width: 60%;
}
.MuiButtonGroup-root.MuiButtonGroup-contained {
  width: 40%;
}

button.MuiButtonBase-root.MuiButtonGroup-grouped.MuiButtonGroup-groupedContained.MuiButtonGroup-groupedContainedPrimary {
  width: 50%;
  padding: 13px;
}
.footer-hr {
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0), 0px 1px 10px 0px rgba(0, 0, 0, 0);
}
.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.MuiGrid-wrap-xs-nowrap {
  margin-right: auto !important;
}

svg.MuiSvgIcon-root.footer-icon {
  font-size: 24px !important;
}
.footer-icon {
  color: white !important;
  background-color: #d3d3d3 !important;
  padding: 4px !important;
  border-radius: 50% !important;
  font-size: 17px !important;
  margin-right: 10px;
}
.icon-text {
  color: #515151;
}
p.MuiTypography-root.footerText.MuiTypography-body1 {
  display: flex !important;
}
.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2 {
  height: 450px !important;
}
.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.MuiGrid-wrap-xs-nowrap.MuiGrid-grid-xs-8 {
  margin: 0px !important;
}
.footerText {
  margin: 10px 0px;
}
p.MuiTypography-root.icon-text.MuiTypography-body1.MuiTypography-colorTextSecondary {
  padding: 0px;
}
hr.MuiDivider-root.footer-divider.MuiDivider-middle {
  margin-bottom: 30px;
  margin-top: 30px;
}
.red {
  color: red;
}
.footer-bg {
  background-color: #eee;
  padding-bottom: 5%;
  position: relative;
  z-index: 1300;
}
.footer-head-text {
  text-transform: uppercase;
  font-weight: 600 !important;
  margin-bottom: 10px !important;
}
.MuiTypography-root.footerText.MuiTypography-body1 {
  display: flex;
  margin: 10px 0px;
}
ul.myList {
  padding-left: 22px;
  text-align: left;
  background-color: white;
  overflow: scroll;
  list-style-type: none;
  width: 345px;
  height: 120px;
}

li.sug-li {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
p.MuiTypography-root.makeStyles-label-373.MuiTypography-body1,
p.MuiTypography-root.makeStyles-content-374.MuiTypography-body1,
p.MuiTypography-root.makeStyles-companyName-337.MuiTypography-body1 {
  text-align: left;
}
li {
  padding-bottom: 6px;
  padding-top: 6px;
}
select {
  background: white;
  border: none;
}
/* Mansi  - contractor list css*/

/* ============================= home page ================================= */

div#search {
  height: 50px !important;
  display: flex !important;
}
main.AppRouterConnect-content-4 {
  min-height: 260px;
  width: 100% !important;
}
.MuiSvgIcon-root {
  font-size: 1.9rem !important;
}
.city {
  width: 130px;
}

select.city {
  -webkit-appearance: none;
  font-size: 16px;
  border: 1px solid #d9dadb;
  border-radius: 1px;
  padding-top: 12px;
  padding-bottom: 12.5px;
  padding-left: 6px;
  padding-right: 40px;
  color: #3e3f42;
}
.city-btn {
  display: flex;
  width: 40%;
}
.suggestion-search {
  width: 60%;
}

.search-bar {
  border: 1px solid #d9dadb;
  border-radius: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.MuiInputBase-root.search {
  padding-top: 5px;
    padding-bottom: 6px;
    width: 320px;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.getstarted {
  white-space: nowrap;
  background-color: #449b1b;
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 10.5px !important;
  padding-bottom: 10px !important;
  border-top-left-radius: 0px;
  color: white;
  border-bottom-left-radius: 0px;
  /* box-shadow: 0 8px 6px -6px #e1e0e1; */
}

.suggestion {
  width: 58%;
}

ul.sug {
  padding-left: 0px;
  list-style-type: none;
}
div#none {
  display: none;
}

.home-mid-bg {
  background-color: #eeeeee26;
  padding: 0px 6% !important;
}
.MuiPaper-root.MuiPaper-elevation0.MuiMobileStepper-root.MuiMobileStepper-positionStatic.stepper-divider {
  background-color: black;
}
header.MuiPaper-root.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-positionStatic.CustomTabs-toolbarstyle-1575.MuiAppBar-colorPrimary {
  margin-top: 40px;
}
label.MuiFormControlLabel-root {
  margin-left: 5px !important;
}
.Mui-focused fieldset {
  border: 2px solid green !important;
}
 

@media only screen and (max-width: 600px) {
  .MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
    padding-left: 5px;
    padding-right: 5px;
  }
  h1.home-title {
    font-size: 16px;
  }
}

/*  */
