.MuiTypography-h5 {
  font-size: 13px !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-weight: 600 !important;
  line-height: 1.33 !important;
  text-align: center !important;
  letter-spacing: 0em !important;
}
 
.react-multi-carousel-list {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.react-multi-carousel-list.carousel-container {
  margin-bottom: 3% !important;
}
h2.font-color {
  color: #392e2e;
  font-weight: 600;
  font-size: 22px;
}
.container {
  padding: 6%;
  padding-bottom: 4%;
}
.react-multiple-carousel__arrow::before {
  font-size: 11px !important;
  color: #100f0f !important;
  display: block !important;
  font-weight: 800 !important;
  font-family: revicons !important;
  text-align: center !important;
  z-index: 2 !important;
  position: relative !important;
}

.MuiCardContent-root {
  padding: 14px !important;
}

ul.react-multi-carousel-dot-list.custom-dot-list-style {
  display: none !important;
}
.react-multiple-carousel__arrow--left {
  left: calc(5% + -5.8%) !important;
  top: 40% !important;
  background: white !important;
}

.react-multiple-carousel__arrow--right {
  right: calc(5.1% + -5.5%) !important;
  top: 40% !important;
  background: white !important;
}
.react-multiple-carousel__arrow--right::before {
  top: 1px !important;
  left: -2px !important;
  content: "\e825";
}
.react-multiple-carousel__arrow {
  position: absolute !important;
  box-shadow: 0 15px 10px #fef9f900 !important;
  outline: 0 !important;
  transition: all 0.5s !important;
  border-radius: 35px !important;
  z-index: 1000 !important;
  border: 0 !important;
  background: white !important;
  min-width: 25px !important;
  min-height: 25px !important;
  opacity: 1 !important;
  cursor: pointer !important;
}
  
ul.react-multi-carousel-track {
  /* height: 200px !important; */
transition: all 1s !important;
} 
button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  display: none !important;
}
