
@import './styleVariables.scss';
.project-view-btn-filled{
    background-color: $projectListViewThemeColor !important;
    margin: 0px 5px !important;
}
.project-list-view{
    display: flex;
    padding: 10px;
    .filter-view{
        padding: 10px;
        .main-title{
            font-weight: 500;
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 15px;
        }
        .sub-title{
            font-weight: bold;
            font-size: 1rem;
            margin: 15px 0px 5px 0px;
        }
        .city{
           width: 100%;
        }
        .sort-by-select{
            padding: 0;
        }
        .specialty-select-view{
            max-width: 300px;
            label.MuiFormControlLabel-root{
                margin-left: 0px !important;
                .PrivateSwitchBase-root-310{
                    padding: 4px !important;
                }
            }
            .select-item{
                .checkbox-icon{
                    color: $projectListViewThemeColor;
                    padding: 3px !important;
                }
            }
            .select-item.selected{
                color: #1de091;
                font-weight: bold !important;
            }
        }
    }
    .projects-view{
        flex: 1;
        margin-left: 5px;
        padding: 10px 50px 10px 10px;
        .active-filter-view{
            margin-bottom: 10px;
            .active-filter-title{
                font-weight: bold;
                display: inline-block;
                margin-right: 15px;
            }
            .active-filter-item{
                margin: 2px 5px;
            }
        }
        .page-info-view{
            padding: 20px 0px;
            .page-info{
                flex: 1;
            }
            .pagenation-view{
                .pagenation-item{
                    padding: 10px;
                    border: 1px solid gray;
                    display: inline-block;
                    background-color: white;
                    &:hover{
                        cursor: pointer;
                        box-shadow: 0px 0px 10px rgba(0,0,0,.1);
                    }
                }
                .pagenation-item-selected{
                    padding: 10px;
                    border: 1px solid gray;
                    display: inline-block;
                    background-color: #1de091;
                    &:hover{
                        cursor: pointer;
                        box-shadow: 0px 0px 10px rgba(0,0,0,.1);
                    }
                }
            }
        }
    }
}